*{
  margin: 0;
}
.app{
  background-color: #fafafa;
}
.app_post{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app_postright{
  margin-left: 20px;
}
.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.app_headerimage{
  object-fit: contain;
}
.app_signUp{
  display: flex;
  flex-direction: column;
}
